.subTitle {
   color: #262626;
   font-size: 22px;
   line-height: 38px;
   font-weight: 600;
   margin-bottom: 24px;
}
.titleInput {
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
   color: #262626;
   margin-bottom: 2px;
}

.flexContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   max-width: 592px;
   margin-bottom: 48px;
}



.button {
   outline: none;
   width: 360px;
   height: 40px;
   border: none;
   border-radius: 2px;
   background-color: #1890FF;
   color: #FFFFFF;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
}
.button:hover,
.button:focus {
   background-color: #40A9FF;
   ;
}
.button:active {
   background-color: #096DD9;
}
.button:disabled {
   border-color: #BCBCBC;
   color: #BCBCBC;
   background-color: #E5E5E5;
}



.inputCheckboxItem {
   max-width: 340px;
   height: 22px;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 48px;
   margin-bottom: 50px;
}
.inputCheckboxDescription {
   color: #595959;
   font-size: 14px;
   line-height: 22px;
   margin-left: 8px;
}
.inputCheckbox {
   width: 16px;
   height: 16px;
}
.inputCheckboxDescription {
   cursor: default;
}
.inputCheckboxDescription span {
   display: inline-block;
   height: 21px;
   color: #1890FF;
   border-bottom: 1px solid #1890FF;
   cursor: pointer;
}



.errorMessage {
   color: #F5222D;
   font-size: 14px;
   line-height: 22px;
   position: absolute;
   left: 0px;
   bottom: -24px;
}



.modalTitle,
.modalText {
   color: #262626;
   line-height: 38px;
}
.modalTitle {
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 15px;
}
.modalText {
   font-size: 20px;
   line-height: 38px;
   padding: 0px 5px;
   font-weight: 400;
   margin-bottom: 40px;
   overflow: scroll;
   overflow-x: hidden;  
}
.modalText::-webkit-scrollbar {
   width: 5px;
   height: 170px;
   border-radius: 4px;  
}
.modalText::-webkit-scrollbar-thumb {
   background-color: #BCBCBC;
   border-radius: 4px;
}
.modalButton {
   outline: none;
   width: 360px;
   height: 40px;
   border: none;
   border-radius: 2px;
   background-color: #1890FF;
   color: #FFFFFF;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   padding: 10px 0px;
   cursor: pointer;
   vertical-align: middle;
}
.modalButton:hover,
.modalButton:focus {
   background-color: #40A9FF;
}
.modalButton:active {
   background-color: #096DD9;
}
.modalCloseButton {
   position: absolute;
   align-self: flex-end;
   cursor: pointer;
   right: 40px;
   top: 40px;
}
.modalCloseButton::before {
   content: "";
   background-color: #2F80ED;
   position: absolute;
   width: 20px;
   height: 2px;
   left: -31px;
   transform: rotate(45deg);
   top: 6px;
}
.modalCloseButton::after {
   content: "";
   background-color: #2F80ED;
   ;
   position: absolute;
   width: 2px;
   height: 20px;
   right: 20px;
   transform: rotate(45deg);
   bottom: -16px;
}



@media (max-width: 575.98px) {
   .flexContainer {
      flex-direction: column;
      margin-bottom: 24px;
   }
   .flexContainer > div {
      margin-bottom: 24px;
   }
   .flexContainer div:last-child {
      margin-bottom: 0px;
   }
   .button {
      width: 100%;
   }
   .inputContainer,
   .inputContainer .inputText,
   .inputContainer .inputTextError {
      width: 100%;
   }
   .inputCheckboxLabel {
      font-size: 13px;
   }
   .modal {
      padding: 10px;
   }
   .modalContent {
      width: 340px;
      padding: 20px 10px;
   }
   .modalTitle {
      margin-bottom: 20px;
   }
   .modalText {
      margin-bottom: 20px;
   }
   .modalButton {
      width: 300px;
   }
   .modalCloseButton {
      right: 10px;
      top: 20px;
   }
}